.card-container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    border-radius: 8px;
    background-color: #ffffff00 !important;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 auto;
    width: 13vw;
    height: 10vw;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.423);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #ecf0f1; 
}

.section {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

h1 {
    font-size: 2em;
    color: #2C3E50; 
}


h2, a {
    color: rgb(232, 232, 232); 
}

.mat-divider {
    width: 100%;
    margin: 10px 0;
}

.card-container p {
    padding-left: 1vw;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}