<div class="section">
    <h1>{{piName}}</h1>
    <mat-divider></mat-divider>
    <div class="card-container">
        <div *ngFor="let component of components">
            <p>{{component.name}}</p>
        </div>
    </div>

    <div>
        <iframe [src]="getSanitizedUrl()" width="100%" height="600" frameborder="0"></iframe>
    </div>

    <div *ngIf="piName=='PI3'" class="centered">
        <h2 style="margin-top:50px">Setting RGB</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; width: 65% !important;" >
            <button  mat-button (click)="setRGB('1')"> on </button>
            <button  mat-button (click)="setRGB('0')"> off </button>
            <div *ngFor="let entry of colorList">
                <button  mat-button (click)="setRGB(entry.key)"> 
                    {{ entry.value }}    
                </button>
            </div>
        </div>
        <p>{{rgbResult}}</p>
    </div>
</div>