.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

**/__pycache__/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#virtuelna
venv/

# Compiled output
front/dist
front/tmp
front/out-tsc
front/bazel-out

# Node
front/node_modules
npm-debug.log
yarn-error.log
