<div class="toolbar">
    <h2>IOT</h2>
    <nav>
        <a class="hover" routerLink="/">Home</a>
        <a class="hover" routerLink="/clock">Clock</a>
    </nav>
    <a class="state" *ngIf="alarmSystem">alarm system: ACTIVE</a>
    <a class="state" *ngIf="!alarmSystem">alarm system: INACTIVE</a>
    <a class="state" *ngIf="!alarm"> no alarms active </a>
    <div *ngIf="alarm">
        <a class="blink">! ALARM !</a>
        <a class="hover" (click)="alarmOff()">turn alarm off</a>
    </div>
    <a class="state">Reason for alarm change: {{alarmReason}}</a>
</div>
<router-outlet></router-outlet>

